@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard {
  flex-direction: row;
}

.dashboard,
.workspace {
  display: flex;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.workspace {
  flex: 1;
  overflow: hidden;
  margin-left: 210px;
  padding: 10px 30px;
}
